section.places .articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section.places h1 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

section.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

section.places article h2 {
    font-size: 30px;
    text-align: center;
}
